[submodule "go/modules/go-core"]
	path = go/modules/go-core
	url = https://github.com/sotigr/go-core.git 
[submodule "python/modules/python-core"]
	path = python/modules/python-core
	url = https://github.com/sotigr/python-core.git
